<html>
<head>
  <meta charset="utf-8">
  <title>Elements</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/raster2.css">
  <link rel="stylesheet" href="/custom.css">
</head>
<body>
  <r-grid columns="1" class="padding1">
    <r-cell>
      <h1>Typography</h1>
      <h1>Heading Level 1</h1>
      <h2>Heading Level 2</h2>
      <h3>Heading Level 3</h3>
      <h4>Heading Level 4</h4>
      <h5>Heading Level 5</h5>
      
      <hr>
      
      <h2>Text Styles</h2>
      <p>Regular paragraph text</p>
      <p class="small">Small text using .small class</p>
      <p class="xsmall">Extra small text using .xsmall class</p>
      <p class="xxsmall">Extra extra small text using .xxsmall class</p>
      <p class="xxxsmall">Smallest text using .xxxsmall class</p>
      
      <p><strong>Bold text using strong tag</strong></p>
      <p><em>Italic text using em tag</em></p>
      <p><code>Monospace text using code tag</code></p>
      
      <hr>
      
      <h2>Large Headings</h2>
      <h1 class="large">Large Heading</h1>
      <h1 class="xlarge">Extra Large Heading</h1>
      <h1 class="xxlarge">Extra Extra Large Heading</h1>
      <h1 class="xxxlarge">Largest Heading</h1>
      
      <hr>
      
      <h2>Links</h2>
      <p><a href="#">Regular Link</a></p>
      <h2><a href="#">Heading Link</a></h2>
      <p class="small"><a href="#">Small Link</a></p>
      
      <hr>
      
      <h2>Lists</h2>
      <h3>Unordered List</h3>
      <ul>
        <li>First item</li>
        <li>Second item</li>
        <li>Third item</li>
      </ul>
      
      <h3>Ordered List</h3>
      <ol>
        <li>First item</li>
        <li>Second item</li>
        <li>Third item</li>
      </ol>
      
      <h3>Compact Lists</h3>
      <ul class="compact">
        <li>Compact unordered list item</li>
        <li>Another compact item</li>
        <li>Final compact item</li>
      </ul>
      
      <ol class="compact">
        <li>Compact ordered list item</li>
        <li>Another compact item</li>
        <li>Final compact item</li>
      </ol>
      
      <h3>Task List</h3>
      <ul>
        <li class="task-list-item"><input type="checkbox" disabled>Unchecked task</li>
        <li class="task-list-item"><input type="checkbox" disabled checked>Checked task</li>
      </ul>
      
      <hr>
      
      <h2>Text Alignment</h2>
      <p class="left">Left-aligned text</p>
      <p class="center">Center-aligned text</p>
      <p class="right">Right-aligned text</p>
      
      <hr>
      
      <h2>Opacity Classes</h2>
      <r-grid columns="5" columns-s="2">
        <r-cell><p class="opacity1">10%</p></r-cell>
        <r-cell><p class="opacity3">30%</p></r-cell>
        <r-cell><p class="opacity5">50%</p></r-cell>
        <r-cell><p class="opacity7">70%</p></r-cell>
        <r-cell><p class="opacity9">90%</p></r-cell>
      </r-grid>
      
      <hr>
      
      <h2>Colors</h2>
      <r-grid columns="4" columns-s="2">
        <r-cell><p class="red">Red Text</p></r-cell>
        <r-cell><p class="blue">Blue Text</p></r-cell>
        <r-cell><p class="green">Green Text</p></r-cell>
        <r-cell><p class="yellow">Yellow Text</p></r-cell>
      </r-grid>
    </r-cell>
  </r-grid>
</body>
</html>