<html>
<head>
  <meta charset="utf-8">
  <title>Hero</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/raster2.css">
  <link rel="stylesheet" href="/custom.css">
</head>
<body>
  <r-grid columns="12" columns-s="4" class="padding2">
    <r-cell span="6" span-s="row">
      <h1 class="xlarge">Create Beautiful Websites</h1>
      <h3 class="opacity6">Craft stunning digital experiences with our powerful design system</h3>
      <p>
        <a href="/contact" class="h3">Get Started &rarr;</a>
      </p>
    </r-cell>
  </r-grid>
</body>
</html>