<html>
<head>
  <meta charset="utf-8">
  <title>Navbar</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/raster2.css">
  <link rel="stylesheet" href="/custom.css">
  <script src="/scripts.js" defer></script>
</head>
<body>
  <nav class="navbar">
    <r-grid columns="2" class="padding0">
      <r-cell>
        <a href="/" class="h3">Logo</a>
      </r-cell>
      <r-cell class="menu-toggle">
        <a href="#" class="menu-button">Menu+</a>
      </r-cell>
    </r-grid>
    <div class="menu-overlay">
      <r-grid columns="1" class="padding0">
        <r-cell class="center">
          <a href="/work">Work</a>
        </r-cell>
        <r-cell class="center">
          <a href="/blog">Blog</a>
        </r-cell>
        <r-cell class="center">
          <a href="/about">About</a>
        </r-cell>
        <r-cell class="center">
          <a href="/contact">Contact</a>
        </r-cell>
      </r-grid>
    </div>
  </nav>
</body>
</html>